@model IEnumerable<MVC_CodeFirst_Login.Models.Patient>
@{
	ViewData["Title"] = "Home Page";
}



<div class="row">
	<div class="col-md-12">
		@*<li><a asp-area="" asp-controller="Home" asp-action="GPRegister">Register Arts</a></li>
		<li><a asp-area="" asp-controller="Home" asp-action="PaRegister">Register Patient</a></li>*@
		<p> 
			<br />
			<a class="btn btn-success"  role="button" asp-area="" asp-controller="Home" asp-action="GPRegister">Registreer Huisarts</a>
			<a class="btn btn-success" role="button" asp-area="" asp-controller="Home" asp-action="PaRegister">Registreer Patient</a>
		</p>
		<h2> Registered Users</h2>
		@if (Model.Any()) {
			<table class="table">
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Email</th>
				</tr>
				@foreach (var item in Model) {
					<tr>
						<td>@item.FirstName</td>
						<td>@item.LastName</td>
						<td>@item.Email</td>
					</tr>
				}
			</table>
		}

		else {
			<p>there are no regisstered users</p>
		}
	</div>
</div>
 
 
 
 
