@model IEnumerable<MVC_CodeFirst_Login.Models.Consult>
@{
    ViewData["Title"] = "Consult";
}

<div class="row">
    <div class="col-md-12">
        <h2>Consult</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>Begin datum</th>
                    <th>Eind datum</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.BeginDate</td>
                    <td>@item.EndDate</td>
                </tr>
                }
            </table>
        }
        else
        {
            <p>Er zijn geen consulten.</p>
        }
    </div>

    <p>
        <a asp-action="Create">Consulten inzien</a>
    </p>
</div>