@model IEnumerable<MVC_CodeFirst_Login.Models.Diagnosis>
@{
    ViewData["Title"] = "Diagnosis";
}

<div class="row">
    <div class="col-md-12">
        <h2>Diagnoses</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>Naam</th>
                    <th>Begin datum</th>
                    <th>Patient naam</th>
                    <th>Huisarts naam</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.BeginDate</td>
                        <td>@item.patient.FirstName</td>
                        <td>@item.generalPractioner.FirstName</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>there are no regisstered users</p>
        }
    </div>

    <p>
        <a asp-action="Create">Maak diagnose</a>
    </p>
</div>