@model IEnumerable<MVC_CodeFirst_Login.Models.Diagnosis>
@{
	ViewData["Title"] = "Diagnosis";
}

<div class="row">
	<div class="col-md-12">
		<h2> diag</h2>
		@if (Model.Any()) {
			<table class="table">
				<tr>
					<th>BeginDatum</th>
					<th>ConsultID</th>
 
				</tr>
				@foreach (var item in Model) {
					<tr>
						<td>@item.BeginDate</td>
						<td>@item.ConsultId</td>		 
 
 
					</tr>
				}
			</table>
		}
		else {
			<p>there are no regisstered users</p>
		}
	</div>
</div>